 @model IEnumerable<AvaliadorGastronomico.Domain.Critica>
@{
    ViewBag.Title = "Críticas";
}
<h2>Últimas Críticas</h2>

@foreach (var item in Model)
{
    @Html.Partial("_Critica", item) 
}

 
  


 