@* slide 77 *@
@model AvaliadorGastronomico.WebUI.Models.InfoViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Model.MancheteDoDia</p>
<p>@Model.Temperatura</p>
<p>@ViewBag.ElapsedTime</p>
