@if (Request.IsAuthenticated) {
    <text>
        Olá,  <strong>@Html.ActionLink(User.Identity.Name, "AlterarSenha", "Acesso")</strong>!
        @using (Html.BeginForm("LogOff", "Acesso", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
        
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Cadastre-se", "Cadastrar", "Acesso", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Acesso", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
