@model IEnumerable<AvaliadorGastronomico.Domain.Restaurante>

<table id="ResultadoBuscaContainer">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Endereço
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Nome, "Detalhes", "Restaurante", new { id = item.Id }, null)
            </td>
            <td>
                @item.Endereco.Cidade - @item.Endereco.UF
            </td>
        </tr>
    }

</table>

